body{
    background-image: url(../media/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}
header h1{
    font-size: 35px;
} 
#head_wrap{
    display: flex; 
    align-items: center;
}
#kabinet{
    display: flex;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    padding: 15px;
    border: 1px solid white;
    border-radius: 15px;
    transition: all .5s ease-in-out;
}
#kabinet:hover{
    border-color: black;
}
#fastfood{
    margin-left: 3.5%;
    align-items: center;
    width: 90%;
    padding: 1%;
    height: 100%;
}
#fastfood h1{
    font-size: 30px;
    text-align: center;
}
#fastfood img{
    width: 15%;
    height: 30%;
    border: 3px solid white;
    margin: 2%;
    cursor: pointer;
}

@media(max-width: 1024px)
{
    #fastfood img{
        width: 40%;
        height: 25%;
        border: 3px solid white;
        margin: 1%;
        cursor: pointer;
    }
}

@media (max-width: 620px)
{
    header h1{
        font-size: 25px;
        
    }
    header{
        display: block;
    }
    #head_wrap{
        width: 290px;
        margin: 0 auto;
    }
    header h1{
        text-align: center;
    }
    #kabinet{
        margin: 20px auto;
        width: 210px;
    }   
    #fastfood img{
        width: 15%;
        height: 20%;
        border: 3px solid white;
        margin: 1%;
        cursor: pointer;
    }
    #fastfood h1{
        
        font-size: 20px;
    }
}